.contenedorDetalleCliente {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.contenedorTituloDetalleCliente {
    text-align: center;
}
.TituloDetalleCliente {
    color: #e7a33e;
    font-size: 50px;
    margin-top: 2%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    display: inline-block;
    padding: 15px;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.contenedorContenidoDetalleCliente {
    width: 43.75rem;
    background-color: rgba(0, 0, 0, 0.9);
    border: 3px solid #e7a33e;
    border-radius: 5px;
    padding: 30px;
    margin-top: 1%;
    margin-bottom: 2%;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: white;
}
.detalleLinks {
    margin-top: 20px;
}
.detalleLink {
    color: #e7a33e;
    text-decoration: none;
}
.detalleLink:hover {
    color: white;
}
@media (max-width: 768px) {
    .TituloDetalleCliente {
        font-size: 32px;
    }
}
@media (max-width: 480px) {
    .TituloDetalleCliente {
        font-size: 25px;
    }
}