.footer {
    width: 100%;
    background-color: #575858;
    color: white;
    position: absolute;
    bottom: 0;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}