.contenedorFormulaCalorias {
    margin-bottom: 50px;
}
.contenedorTituloFormulaCalorias {
    text-align: center;
}
.tituloFormulaCalorias {
    color: #e7a33e;
    font-size: 50px;
    margin-top: 2%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    display: inline-block;
    padding: 15px;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.contenedorFormularioFormulaCalorias {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 1%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    border-radius: 5px;
    border: 3px solid #e7a33e;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.GrupoFormularioCalorias {
    color: white;
    margin-bottom: 1%;
}
.inputFormulaCalorias {
    width: 100%;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}
.botonEnviarFormularioCalcularCalorias {
    width: 100%;
    margin-top: 2%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e7a33e;
    color: black;
    font-size: 16px;
}
.botonEnviarFormularioCalcularCalorias:hover {
    color: white;
}
.resultado {
    margin-top: 2%;
    padding: 10px;
    background-color: #e7a33e;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}
@media (max-width: 768px) {
    .tituloFormulaCalorias {
        font-size: 32px;
    }
}

@media (max-width: 480px) {
    .tituloFormulaCalorias {
        font-size: 25px;
    }
}