body {
  padding-top: 100px;
}

.row-fila1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.col-columna1 {
  max-width: 100%;
  padding: 20px;
  color: #e7a33e;
  text-align: center;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 550px;
}

.col-columna2 {
  max-width: 100%;
  padding: 20px;
  color: #e7a33e;
  text-align: center;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 550px;
}

.titulo1,
.titulo2 {
  background-color: rgba(0, 0, 0, 0.9);
  border: 3px solid #e7a33e;
  border-radius: 5px;
  font-size: 55px;
  padding: 35px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.subTitulo1,
.subTitulo2 {
  font-size: 30px;
  min-width: 0;
}

.btn-ConoceEntrenadores,
.btn-RegistrarEntrenador {
  background: #e7a33e;
  white-space: nowrap;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
}

.btn-ConoceEntrenadores:hover,
.btn-RegistrarEntrenador:hover,
.btn-tipEntrenamientoNuevo:hover,
.btn-tipNutricionNuevo:hover,
.btn-tipEntrenamientoNuevo:hover {
  color: white;
  background-color: #e7a33e;
  color: white;
  outline: none;
  box-shadow: none;
}

.row-fila2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  border: 2px solid #e7a33e;
  border-radius: 5px;
  margin-bottom: 50px;
}

.col-columna3 {
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url('https://res.cloudinary.com/dbqq4n3qa/image/upload/v1717006597/tip-entreno11_gruynk.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 300px;
  padding: 20px;
  color: #e7a33e;
  text-align: center;
  min-width: 0;
  border: 2px solid #e7a33e;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

#cuadroentreno{
  background-color: rgba(0, 0, 0, 0.9);
  height: auto;
  width: auto;
}
.tituloTipsEntrenamiento {
  border-radius: 5px;
  font-size: 30px;
  padding: 10px;
  min-width: 0;
  margin-bottom: 2%;
}
.tipEntrenamiento {
  
  border-radius: 5px;
  font-size: 25px;
  padding: 10px;
  margin-top: 30px;
  min-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  margin-bottom: 2%;
}

.botonNuevoTipEntrenamiento {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 20px;
  margin-left: 20px;
}

.btn-tipEntrenamientoNuevo,
.btn-tipNutricionNuevo {
  background: #e7a33e;
  white-space: nowrap;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.col-columna4 {
  background-image: url('https://res.cloudinary.com/dbqq4n3qa/image/upload/v1717005663/calculacalorias_zfddnz.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 300px;
  padding: 20px;
  color: #e7a33e;
  text-align: center;
  min-width: 0;
  border: 2px solid #e7a33e;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.linkHomeCalculaCalorias {
  display: inline-block;
  color: black;
  padding: 15px;
  text-decoration: none;
  background: #e7a33e;
  white-space: nowrap;
  font-size: 15px;
  border: 2px solid black;
  border-radius: 5px;
}

.linkHomeCalculaCalorias:hover {
  color: white;
}

.col-columna5 {
  background-image: url('https://res.cloudinary.com/dbqq4n3qa/image/upload/v1717006089/tipnutricionhome_ccotsz.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 300px;
  padding: 20px;
  color: #e7a33e;
  text-align: center;
  min-width: 0;
  border: 2px solid #e7a33e;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.tituloTipsNutricion {
 
  border-radius: 5px;
  font-size: 30px;
  padding: 10px;
  min-width: 0;
  margin-bottom: 2%;
}

.tipNutricion {
  
  border-radius: 5px;
  font-size: 25px;
  padding: 10px;
  margin-top: 30px;
  min-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  margin-bottom: 2%;
}

.botonNuevoTipNutricion {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
}

@media (max-width: 1610px) {

  .titulo1,
  .titulo2 {
    font-size: 55px;
    padding: 30px;
  }

  .subTitulo1,
  .subTitulo2 {
    font-size: 28px;
  }

  .btn-ConoceEntrenadores,
  .btn-RegistrarEntrenador {
    font-size: 18px;
  }
}

@media (max-width: 1495px) {

  .col-columna1,
  .col-columna2 {
    height: 500px;
  }

  .titulo1,
  .titulo2 {
    font-size: 42px;
    padding: 30px;
  }

  .subTitulo1,
  .subTitulo2 {
    font-size: 22px;
  }

  .btn-ConoceEntrenadores,
  .btn-RegistrarEntrenador {
    font-size: 18px;
  }

  .tituloTipsEntrenamiento,
  .tituloTipsNutricion {
    font-size: 20px;
  }

  .tipEntrenamiento,
  .tipNutricion {
    font-size: 18px;
  }
}

@media (max-width: 1090px) {
  .row-fila1 {
    margin-left: 2%;
    margin-right: 2%;
  }

  .titulo1,
  .titulo2 {
    font-size: 35px;
    padding: 25px;
  }

  .subTitulo1,
  .subTitulo2 {
    font-size: 22px;
  }

  .btn-ConoceEntrenadores,
  .btn-RegistrarEntrenador {
    font-size: 16px;
  }

  .tituloTipsEntrenamiento,
  .tituloTipsNutricion {
    font-size: 18px;
  }

  .tipEntrenamiento,
  .tipNutricion {
    font-size: 16px;
  }
}

@media (max-width: 995px) {
  .row-fila1 {
    margin-left: 2%;
    margin-right: 2%;
  }

  .col-columna1,
  .col-columna2 {
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
  }

  .titulo1,
  .titulo2 {
    font-size: 50px;
    padding: 20px;
  }

  .subTitulo1,
  .subTitulo2 {
    font-size: 30px;
  }

  .btn-ConoceEntrenadores,
  .btn-RegistrarEntrenador {
    font-size: 20px;
  }

  .rowfila2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: none;
  }

  .col-columna3,
  .col-columna4,
  .col-columna5 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .tituloTipsEntrenamiento,
  .tituloTipsNutricion {
    font-size: 30px;
  }

  .tipEntrenamiento,
  .tipNutricion {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .row-fila1 {
    margin-left: 2%;
    margin-right: 2%;
  }

  .col-columna1,
  .col-columna2 {
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
  }

  .titulo1,
  .titulo2 {
    font-size: 40px;
  }

  .subTitulo1,
  .subTitulo2 {
    font-size: 24px;
  }

  .btn-ConoceEntrenadores,
  .btn-RegistrarEntrenador {
    font-size: 20px;
  }

  .rowfila2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: none;
  }

  .col-columna3,
  .col-columna4,
  .col-columna5 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .tituloTipsEntrenamiento,
  .tituloTipsNutricion {
    font-size: 22px;
  }

  .tipEntrenamiento,
  .tipNutricion {
    font-size: 20px;
  }
}

@media (max-width: 480px) {

  .titulo1,
  .titulo2 {
    font-size: 30px;
    padding: 15px;
  }

  .subTitulo1,
  .subTitulo2 {
    font-size: 18px;
  }

  .btn-ConoceEntrenadores,
  .btn-RegistrarEntrenador {
    font-size: 12px;
    padding: 10px;
  }

  .linkHomeCalculaCalorias {
    font-size: 12px;
    padding: 10px;
  }

  .tituloTipsEntrenamiento,
  .tituloTipsNutricion {
    font-size: 18px;
  }

  .tipEntrenamiento,
  .tipNutricion {
    font-size: 16px;
  }
}