/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.form-check {
    position: relative;
    display: inline-block;
}

.info-box {
    display: none;
    position: absolute;
    top: 100%; /* Ajusta según tu diseño */
    left: 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    z-index: 1;
    width: auto; /* Ajusta el ancho según tu necesidad */
}


.form-check-label:hover + .info-box {
    display: block;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 1.5em;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  