/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

  
i {
    color: #E7A33E;
    font-size: 26px;
}

body {
    font-family: 'Inter', sans-serif;
    background-image: url("https://res.cloudinary.com/djwkdsahw/image/upload/v1720643735/fittitansnuevo_qjruy3.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    min-height: 100vh !important;
    position: relative !important;
    padding-bottom: 3em !important;
    background-position: center !important;
}

