.InicioSesion {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 700px;
    width: 90%;
    border: solid #e7a33e;
    padding: 30px;
    overflow: hidden;
}

.InicioSesion .form-group {
    margin-bottom: 20px;
}

.InicioSesion .form-label {
    margin-bottom: 10px;
}

.InicioSesion .botonNavbar {
    margin-top: 30px;

}

.InicioSesion .btn-Navbar {
    background: #e7a33e;
    white-space: nowrap;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
}

@media (max-width: 768px) {
    .InicioSesion {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .InicioSesion {
        padding: 10px;

    }
    .InicioSesion .btn-Navbar {
        font-size: 11px;
        padding: 8px;
    }

}