.list-group-item {
    margin-bottom: 5%;
}

.list-group {
    border-radius: 5px;
    margin-bottom: 5%;
    
}

.contenedortarjetalistaEntrenadores {
border-radius: 10px;
}

.fotoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28%;
    height: 28%;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 15px;
}



.Nombre,
.Apellido {
    color: #e7a33e;
}

.btnCloseEntrenador {
    background-color: #e7a33e;
    color: black;
    padding: 1%;
    border-radius: 5px;
    font-size: 60%;

}

.btnCloseEntrenador:hover {
    color: white;
}

.modal-bodyEntrenador {
    color: black;

}


.nombreListaEntrenadores {
    font-size: 140%;
    text-align: center;
}

.infoListaEntrenadores {
    margin-left: 2%;
    font-size: 90%;
    overflow: hidden;
    
}

.contenedorBotonContratame {
    text-align: center;
}

.btnContratame {
    width: 30%;
    text-align: center;
    margin-top: 10px;
    background: #e7a33e;
    padding: 10px;
    color: black;
    font-size: 80%;
    border: 1px solid black;
    border-radius: 5px;
}

.btnContratame:hover {
    color: white;
}

.btnPlanes, .btnCerrar {
    margin-top: 10px;
    background: #e7a33e;
    padding: 10px;
    color: black;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .btnPlanes:hover,
  .btnPlanes:focus 
  .btnCerrar:hover, .btnCerrar:focus {
    background: #e7a33e;
    color: white;
  }

.fotoMiniEntrenador {
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    object-fit: cover; 
    border: 1px solid #e7a33e; 
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}

