.list-group-item {
    margin-bottom: 5%;
}

.list-group {
    border-radius: 5px;
    margin-bottom: 5%;
}

.contenedortarjetalistaEntrenadores {
    border-radius: 5px;
}


.fotoMiniEntrenador {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #e7a33e;
}

.nombreListaEntrenadores {
    color: #e7a33e;
    font-size: 140%;
    text-align: center;
}

.infoListaEntrenadores {
    font-size: 70%;
    overflow: hidden;
}


.btnCloseEntrenador {
    background-color: #e7a33e;
    color: black;
    padding: 1%;
    border-radius: 5px;
    font-size: 60%;
}

.btnCloseEntrenador:hover {
    color: white;
}

.modal-bodyEntrenador {
    color: black;

}

.contenedorBotonContratame {
    text-align: center;
    overflow: hidden;
}

.btnContratame {
    width: 150px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #e7a33e;
    padding: 10px;
    color: black;
    font-size: 60%;
    border: 1px solid black;
    border-radius: 5px;
}

.btnContratame:hover {
    color: white;
}



.btnPlanes, .btnContratar {
    margin-top: 10px;
    background: #e7a33e;
    padding: 10px;
    color: black;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5%;
}

.btnContratarListaEntrenadores {
    margin-top: 10px;
    background: #e7a33e;
    padding: 10px;
    color: black;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5%;
    width: 40%;
}

.btnPlanes:hover,
.btnContratarListaEntrenadores:hover,
.btnContratar:hover {
    background: #e7a33e;
    color: white;
}

.btnPlanes.selected {
    background-color: rgba(0, 0, 0, 0.822);
    color: #e7a33e;
    border: 2px solid #000;
}