.row-filaMiAreaRegistrado {
    display: flex;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid #e7a33e;
    flex: 1;
    margin-bottom: 100px;
}

.columnaPerfilRegistrado {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    height: 600px;
    color: #e7a33e;
    text-align: center;
    min-width: 0;
    border: 2px solid #e7a33e;
    background-image: url('https://as2.ftcdn.net/v2/jpg/03/16/59/63/1000_F_316596390_LVzIyvqhQ0q52Zr9HOpIhFgFhWTctfz5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.linkPerfilRegistrado {
    color: black;
    padding: 20px;
    text-decoration: none;
    background: #e7a33e;
    white-space: nowrap;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 15px;
    min-width: 0;
}

.linkPerfilRegistrado:hover {
    color: #990707;
    /* Cambia el color del enlace cuando el cursor se coloca sobre él */
}

.columnaConoceEntrenadoresRegistrado {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    height: 600px;
    color: #e7a33e;
    text-align: center;
    min-width: 0;
    border: 2px solid #e7a33e;
    background-image: url('https://as2.ftcdn.net/v2/jpg/03/16/59/63/1000_F_316596390_LVzIyvqhQ0q52Zr9HOpIhFgFhWTctfz5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.linkConoceEntrenadoresRegistrado {
    color: black;
    padding: 20px;
    text-decoration: none;
    background: #e7a33e;
    white-space: nowrap;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 15px;
    min-width: 0;
}

.linkConoceEntrenadoresRegistrado:hover {
    color: #990707;
    /* Cambia el color del enlace cuando el cursor se coloca sobre él */
}

.columnaCalculaCaloriasRegistrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    padding: 20px;
    color: #e7a33e;
    text-align: center;
    min-width: 0;
    border: 2px solid #e7a33e;
    background-image: url('https://as2.ftcdn.net/v2/jpg/03/16/59/63/1000_F_316596390_LVzIyvqhQ0q52Zr9HOpIhFgFhWTctfz5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.linkCalculaCaloriasRegistrado {
    color: black;
    padding: 20px;
    text-decoration: none;
    background: #e7a33e;
    white-space: nowrap;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 15px;
    min-width: 0;
}

.linkCalculaCaloriasRegistrado:hover {
    color: #990707;
    /* Cambia el color del enlace cuando el cursor se coloca sobre él */
}