.contenedorMiAreaRegistrado {
    text-align: center;
    margin-bottom: 50px;
}

.tituloMiAreaRegistrado {
    color: #e7a33e;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 50px;
    margin-top: 2%;
    text-align: center;
    display: inline-block;
    padding: 15px;
}

.row-filaMiAreaRegistrado {
    display: flex;
    margin-top: 2%;
    border: 2px solid #e7a33e;
    flex: 1;
}

.columnaPerfilRegistrado {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    height: 600px;
    color: #e7a33e;
    text-align: center;
    min-width: 0;
    border: 2px solid #e7a33e;
    background-image: url('https://img.freepik.com/foto-gratis/3d-morph-man-haciendo-ejercicio-pesas-gimnasia_1048-12541.jpg?t=st=1716743390~exp=1716746990~hmac=aab18fa09f2146b0b11430f4e57387c7c1f5751046e51158783dea7d3fe7226d&w=740');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.linkPerfilRegistrado {
    color: black;
    padding: 20px;
    text-decoration: none;
    background: #e7a33e;
    white-space: nowrap;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 15px;
    min-width: 0;
}

.linkPerfilRegistrado:hover {
    color: white;
}

.columnaConoceEntrenadoresRegistrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    color: #e7a33e;
    text-align: center;
    min-width: 0;
    border: 2px solid #e7a33e;
    background-image: url('https://img.freepik.com/fotos-premium/entrenador-personal-ayudando-mujer-hacer-ejercicio-pesas-gimnasio-concepto-pareja-familiar-deportista-hombre-deportivo-torso-abs-deportivo-desnudo-potente-cuerpo-atletico_265223-63753.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.linkConoceEntrenadoresRegistrado {
    color: black;
    padding: 20px;
    text-decoration: none;
    background: #e7a33e;
    white-space: nowrap;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 15px;
    min-width: 0;
}

.linkConoceEntrenadoresRegistrado:hover {
    color: white;
}

.columnaCalculaCaloriasRegistrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    padding: 20px;
    color: #e7a33e;
    text-align: center;
    min-width: 0;
    border: 2px solid #e7a33e;
    background-image: url('https://static.vecteezy.com/system/resources/previews/024/276/132/non_2x/calculator-icon-or-symbol-in-black-and-white-color-vector.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.linkCalculaCaloriasRegistrado {
    color: black;
    padding: 20px;
    text-decoration: none;
    background: #e7a33e;
    white-space: nowrap;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 15px;
    min-width: 0;
}

.linkCalculaCaloriasRegistrado:hover {
    color: white;
}