body {
  background: rgb(15, 15, 15);
  font-family: 'Inter', sans-serif;
}

.btnContratame {
  margin-top: 10px;
  background: #e7a33e;
  padding: 10px;
  color: black;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.container-fluidEntrenador {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnContratame:hover {
  color: white
}

.carouselSlide {
  justify-content: center;
  width: 100%; 
  max-width: 1300px; 
  margin: auto;
}


.card-textEntrenador {
  font-size: 100%;
}