body {
  background: rgb(15, 15, 15);
  font-family: 'Inter', sans-serif;
  
}
.navbarNombre {
  font-size:300%;
  
}

.container-fluidEntrenador {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselSlide {
  justify-content: center;
  width: 100%; 
  max-width: 1300px; 
  margin: auto;
}


.card-textEntrenador {
  font-size: 100%;
}
.navbarEntrenador {
  color: black;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(159,98,39,0.8449754901960784) 35%, rgba(222,127,40,0.9598214285714286) 100%);
}

.fotoEntrenador {
  display:block;
  width: 80%;
  margin-left: auto;
   margin-right: auto;
}
.card-body {
  position: relative;
  padding: 20px;
}
.card-body {
  position: relative;
  padding: 20px;
}

.card-title {
  margin-bottom: 15px;
}

.card-textEntrenador {
  margin-bottom: 30px;
}

.btnContratame {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  background: #e7a33e;
  padding: 10px;
  color: black;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.btnPlanes, .btnCerrar {
  margin-top: 10px;
  background: #e7a33e;
  padding: 10px;
  color: black;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
}
.btnContratame:hover,
.btnPlanes:hover,
.btnContratame:focus,
.btnPlanes:focus 
.btnCerrar:hover, .btnCerrar:focus {
  background: #e7a33e;
  color: white;
}