body,
pre {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.containerPrincipalRutina {
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    color: white;
}

.contenedorTituloRutinaPrivada {
    text-align: center;
}


.tituloRutinaPrivada {
    color: #e7a33e;
    border-radius: 5px;
    font-size: 50px;
    margin-top: 2%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    display: inline-block;
    padding: 15px;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.formularioRutina {
    border: 3px solid #e7a33e;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.92);
    padding: 30px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5%;
}

.formularioRutina input,
.formularioRutina textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
}

.formularioRutina button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #e7a33e;
    color: black;
    cursor: pointer;
}

.formularioRutina button:hover {
    color: white;
}

.listaRutinas {
    width: 100%;
    margin-top: 20px;
}

.rutinaItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.rutinaItem p {
    margin: 0;
}

.rutinaItem button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #e7a33e;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;
}

.rutinaItem button:hover {
    color: white;
}

.mensajeRutina {
    color: #e7a33e;
    margin-top: 10px;
}